In [1]:
# !pip install mysql-connector-python

In [2]:
import mysql.connector as connector

In [3]:
# creating a connection to mysql little lemon database
connection = connector.connect(user = "project", password = "project", database = "littlelemondb")

In [4]:
# creating the show tables query
cursor = connection.cursor()

show_tables_query = '''SHOW tables;''' 
cursor.execute(show_tables_query)

In [5]:
# displaying the tables
for table in cursor:
    print(table)

('bookings',)
('customers',)
('deliverystatus',)
('employees',)
('menuitems',)
('orders',)

In [6]:
# creating a query to find customers that have spent more than $60

pay_query = ''' 
SELECT Customers.CustomerID, CONCAT(Customers.FirstName, " ", Customers.LastName) AS FullName,
Orders.BillAmount
FROM customers
JOIN Bookings ON Bookings.CustomerID = Customers.CustomerID
JOIN Orders ON Orders.BookingID = Bookings.BookingID
WHERE Orders.BillAmount >= 60;
'''

cursor.execute(pay_query)

In [7]:
#displaying the result of the query
print(cursor.column_names)

for result in cursor.fetchall():
    print('  ', result[0],'    ', result[1], '    ',result[2])

('CustomerID', 'FullName', 'BillAmount')
   1      Anna Iversen      86.00